.container .lineReport{
  margin: 30px 0;
}

.container .lineReport .lineTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.container .lineReport .lineTitle img{
  margin-right: 10px;
  color: #fff;
  width: 20px;
  height: 20px;
  /* 아이콘을 흰색으로 바꿔서 저장하기 */
}

.container .lineReport .dailyReport h3,
.container .lineReport .weeklyReport h3{
  text-align: center;
  margin: 20px 0;
}
.container .lineReport .dailyReport,
.container .lineReport .weeklyReport{
  width: calc(50% - 5px);
  height: 100%;
  float: left;
  text-align: center;
}

.container .lineReport .dailyReport .th,
.container .lineReport .dailyReport .td{
  width: calc(50% - 5px);
  float: left;
  padding: 15px 0;
  /* border: 1px solid #eee; */
}

.container .lineReport .weeklyReport .th,
.container .lineReport .weeklyReport .td{
  width: calc(100% / 3);
  float: left;
  margin: 8px 0;
}

.container .lineReport .dailyReport .th,
.container .lineReport .dailyReport .td{
  width: 50%;
  float: left;
}