.lineReport{
  width: 30%;
  height: 98%;
  margin-right: 1%;
  margin-bottom: 1%;
  border: 2px solid #3452F5;
}
.lineReport .lineTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 20px 0;
}
.lineReport .lineTitle i{
  margin-right: 10px;
  font-size: 30px;
}
.lineReport .dailyReport,
.lineReport .weeklyReport{
  width: 55%;
  height: 80%;
  float: left;
  text-align: center;
  background: #191919;
}
.lineReport .dailyReport{
  width: 42%;
  margin-right: 1%;
}
table{
  border-collapse: collapse;
  font-weight: 700;
}
th, td{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 20px;
  /* font-weight: 700; */
}
td{
  font-size: 25px;
}


.lineReport .dailyReport .caption,
.lineReport .weeklyReport .caption{
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
 /* background: rgb(52, 82, 245, 0.5);/ */
}
.lineReport .dailyReport th,
.lineReport .dailyReport td{
  padding: 20px;

}
.lineReport .weeklyReport{
  margin-bottom: 20px;
}
.lineReport .weeklyReport tr{
  height: 40px;
}
.lineReport .weeklyReport th,
.lineReport .weeklyReport td{
  width: 30%;
  padding: 5px 0;
}

.graph{
  width: 50%;
}
.graph .axis_x{
  display: flex;
  justify-content: space-between;
  position:relative;
  min-height: 140px;
  box-sizing:border-box;
  border-bottom:1px solid #d3d3d3;
}
.graph .axis_x .item button{
  height: 88%;
}
.graph .axis_x .item{
  flex:1;
  text-align: center;
}