@charset "uft-8";

/* table에서 행, 열 title제외한 항목 font-size */
.content{
  font-size: 20px;
}
/* table에서 규격항목 사이즈 조절 */
.size{
  font-size: 16px;
}

.content.target, 
.content.product, 
.content.achivement, 
.content.diff{
  font-size: 25px;
}

th, td{
    padding: 15px 30px!important; 
}
table tr th:nth-of-type(1){
  width: 50px;
  padding: 5px;
}
