/* reset */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
*{ 
  padding: 0; 
  margin: 0; 
  overflow-y: hidden;
  /* background-color: #000; */
  font-family: 'Nanum Gothic','Nanum Gothic-bold','Nanum Gothic-extrabold', 'Nanum Barun Gothic','Nanum Barun Gothic-bold';
  color: #fff;
}
html{
  height: 100vh;
  background: linear-gradient(3deg, #000 85%, #F68933, #850E11);
}
.hidden{
  opacity: 0;
  margin-left: -999px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
.container h1{
  font-size: 70px;
  position: absolute;
  top: 60px;
  background-color: transparent;
  letter-spacing: 3px;
}
.import{
  color: #ff6666;
}
.logo{
  position: absolute;
  width: 150px;
  height: 100px;
  top:40px;
  left:100px;
  z-index: 2;
  background: transparent;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.today{
  position: absolute;
  width: 400px;
  top: 80px;
  right: 100px;
  z-index: 2;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255,0.5);
}
.today span{
  display: inline-block;
  font-size: 25px;
  background-color: transparent;
  margin: 10px;
}
