/* reset */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{ 
  padding: 0; 
  margin: 0; 
  overflow-y: hidden;
  font-family: 'Nanum Gothic';
  color: #fff;
}
html{
  height: 100vh;
  background: linear-gradient(5deg, #121415 85%, #F68933, #850E11);
}
.hidden{
  opacity: 0;
  margin-left: -999px;
}
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
.container h1{
  font-size: 70px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  background: transparent;
  letter-spacing: 3px;
}

.logo{
  position: absolute;
  width: 130px;
  height: 87px;
  top:40px;
  left:100px;
  z-index: 2;
  background: transparent;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.today{
  position: absolute;
  width: 400px;
  top: 80px;
  right: 60px;
  z-index: 2;
  text-align: center;
  border-radius: 30px;
  background: rgb(255, 255, 255, 0.5);
}
.today span{
  display: inline-block;
  font-size: 25px;
  background: transparent;
  margin: 10px 20px;
}

/* 실적, 차이, 달성률 컬러  */
/*
.target{
  color:#ffff66;
}
*/
.product{
  color:#33ccff;
}
.diff{
  color: #ff6666;
}
.achivement{
  color: #99ff66;
}